
  

  

.parallax {
    /* The image used */
    background-image: url('collage.png');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-size: 2000;
    font-weight: 1000;
    letter-spacing: 3px;
    text-align: left;
    color: #D3535D;
}

.right{
    text-align: right;
}

.frontpage{
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: 15px;
    text-align: center;
}

.rose {
    color: #D3535D;
    /*display: inline;*/
}

.mt-5 {
    margin-top: ($spacer * 5) !important;
  }

.pt-5 {
    padding-top: ($spacer * 5) !important;
  }

  
